<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let p of posts">
    <ion-card-content>
      <ion-card-title no-padding no-margin>
        {{p.title}}
      </ion-card-title>
      <p>
        {{p.datetime * 1000 | date:'medium'}}
      </p>
      <div *ngFor="let i of p.images">
        <div *ngIf="i.type.includes('image')">
          <img no-margin src="{{i.link}}"/>
        </div>
        <div *ngIf="i.type.includes('video')">
          <video preload="auto" autoplay="autoplay" loop="loop" style='width: 100%;'>
            <source src="{{i.link}}" type="{{i.type}}">
          </video>
        </div>
        <ion-label text-wrap>
          {{i.description}}
        </ion-label>
      </div>
      <div *ngIf="p.type && p.type.includes('image')">
        <img no-margin src="{{p.link}}"/>
        <ion-label>
          {{p.description}}
        </ion-label>
      </div>
      <div *ngIf="p.images_count - (p.images ? p.images.length : 0) > 0">
        <button ion-button>
          Load {{p.images_count - (p.images ? p.images.length : 0)}} more images
        </button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
